.FlexLayout {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}
/* https://juejin.cn/post/6844903838487412744 */
.align_start {
    justify-content: flex-start;
    align-content: center;
}

.align_end {
    justify-content: flex-end;
    align-content: flex-end;
}

.align_center {
    justify-content: center;
    align-content: center;
} 

.align_space_between {
    justify-content: space-between;
    align-content: space-between;
} 

.align_space_around {
    justify-content: center;
    align-content: center;
}


/* .FlexLayout {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    width: 100%;
    height: auto;
    overflow-y: hidden;
} */


.item {
    padding: 2em;
    border: 1px solid black;
    background-color: yellow;
}

/* 
.FlexLayout {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    width: 100%;
    height: 30em;
    border: 3px solid black;
    overflow-y: hidden;
} */


